
.backgroundCover{
    background: url('desktop.jpg');
    width: 972px;
    height: 159px;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
}
.padding-0{
    padding: 0; 
}
.padding{
    padding: 4px;
}
.padding:hover{
    background-color: #d3d3d4;
}
.section-header{
    padding: 10px 15px;
    background: url('asfalt-dark.png');
    width: 100%;
    text-align: center;
    border: 1px solid #dddddd;
}
.section-table{
    padding: 8px;
    width: 100%;
    border: 1px solid #dddddd;
}
.section-table li{
    list-style: none;
    padding: 15px 5px 0 5px;
    border: 1px solid #dddddd;
}
.table-anchor{
    text-decoration: auto;
    color: #222;
    font-weight: 500;
}
.listProject_section-table{
    margin-top: 4px;
    border: 1px solid #dddddd;
}
.listProject_section-table--padding td{
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #dddddd;

}
.listProject_section-table--hover:hover {
    background-color: #fbf8e9;
}
.img-header{
    background: url('bg_body.jpg') repeat-x scroll 0 -36px;
    height: 159px;
    margin-bottom: 20px;
}
.listProject_section-table--hoverDarkgrey:hover{
    background-color: darkgrey ;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/*login css*/
.modal input[type=text],.modal input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .modal button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .modal button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .modal .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .modal img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .modal .container {
    padding: 16px;
  }
  
  .modal span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .modal .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .modal .close:hover,
  .modal .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .modal .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }